$cl-logo-gray: #00918d; // Color of logo
$cl-logo-orange: #d78431; // Color of logo

$cl-gray-primary: #c9c9c9;
$cl-gray-secondary: #d9d9d9; // Color of border
$cl-warning: #faad14;
$cl-danger: #ff4d4f;

$cl-light-primary: #ffffff;
$cl-light-secondary: #faf8f8;

$cl-blue-primary: #bbd6ff;
$cl-blue-secondary: #1890ff;
$cl-blue-tertiary: #4674eb;

$cl-red-primary: #ff3434;
$cl-red-secondary: #000; // no color
$cl-red-tertiary: #000; // no color

$cl-thead-table: #d7dbe2;
$cl-col-odd: #edf2f7;
