$color_FF3434 : #FF3434;
$color_72AAFF : #72AAFF;
.common_position{
    position: absolute;
    top: -25px;
    left: -2px;
    color: #ffff;
    border-radius: 11px 11px 0 0;
}
.common_box_shadow{
    box-shadow: 0 0 8px #d5d5d5;
}
.detail{
    background-color: #ffff;
    .infor-script{
        border: 2px solid $color_FF3434;
        border-top: 15px solid $color_FF3434;
        border-radius: 11px 11px 0 0;
        position: relative;
        background-color: #F0F0F0;
        .script-top{
            border-bottom: 1px solid #757575;
            .items{
                :first-child{
                    min-width: 120px;
                }
                :last-child{
                    color: #777777;
                    margin-left: 20px;
                }
            }
        }
        .title-script{
            background-color: $color_FF3434;
        }
        .collapase{
            border: none;
            background: transparent;
            .question{
                position: relative;
                border: 2px solid $color_72AAFF;
                border-top: 15px solid $color_72AAFF;
                border-radius: 11px;
                ::ng-deep .ng-trigger-collapseMotion{
                    background: transparent;
                }
                .title-question{
                    background-color: $color_72AAFF;
                }
                .nz-collapse{
                    border: none;
                    background: transparent;
                    .nz-collapse-panel{
                        position: relative;
                        border: 1px solid #d5d5d5;
                        border-radius: 11px;
                        border-left: 10px solid $color_72AAFF;
                        .idQuestion{
                            position: absolute;
                            left: 2.5rem;
                            top: 2rem;
                        }
                        ::ng-deep .ant-collapse-header{
                            padding-bottom: 30px;
                        }
                        ::ng-deep .ant-collapse-content{
                            border-radius: 0 0 11px 11px;
                            .ant-collapse-content-box{
                                padding-top: 8px;
                            }
                        }
                        [nz-radio] {
                            display: block;
                            line-height: 24px;
                        }
                        .length-width {
                            width: 50px;
                        }
                        .length-height {
                            height: 100%;
                        }
                        .continue{
                            background-color: #E9E9E9;
                            border: 1px solid #B5B5B5;
                        }
                        ::ng-deep .ant-radio-disabled+span, ::ng-deep .ant-checkbox-disabled+span{
                            color: #333 !important;
                        }
                    }
                }
            }
        }
    }
}