@import './../../../shared/styles/variable.scss';

.complete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.inner-complete {
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-radius: 50%;
  // box-shadow: 0px 0px 10px #1890ff;

  .complete-icon {
    font-size: 10em;
    color: $cl-logo-orange;
  }

  .complete-label {
    display: block;
    font-size: 2em;
    color: $cl-blue-secondary;
  }

  .complete-sub-label {
    display: block;
    font-size: 1em;
    color: $cl-blue-tertiary;
  }
}
